.FundoDPL{
    background-color: #7DD2D2;
    height: 100vh;
    color: #fff;
}

.BarraMenu{
    background-color:#000;
    position:static;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p:hover{
    color:lightseagreen;
    transition: 1.2s;
    cursor:pointer;
}
.Mostrar{
    background-color: #fff;
    position: static;
    height: 100hv;
    display: flex;
}