.FundoDPL{
    background-color: #7DD2D2;
    height: 100vh;
    color: #fff;
    display: flex;
}
.BarraMenu{ 
    background-color:#000;
    position:static;
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
p:hover{
    color:lightseagreen;
    transition: 1.2s;
    cursor:pointer;
}
.Mostrar{
    background-color:#fff;
    height: 100hv;
    width: 100vw;
    display: flex;
    
    
}
