.FundoDPL{
    background-color: #7DD2D2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Fundo{
    background-color:#ffffff;
    position: relative;
    width: 20rem;
    height: 25rem;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}